<h1>
  Invoices
</h1>

<div class="">
  <p class="pull-right">
    <a href="#/new">New Invoice</a>
  </p>
</div>

<table class="table table-responsive">
  <thead>
      <tr>
          <th>Invoice Date</th>
          <th>Party</th>
          <th>Total Amount</th>
          <th>Status</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="invoice in invoices">
      <td>{{ invoice.invoiceDate|date:'dd-MM-yyyy' }}</td>
      <td>{{ invoice.party.name }}</td>
      <td>{{ invoice.netTotal }}</td>
      <td>{{ invoice.status.value }}</td>
      <td>
          <a href="#/view/{{invoice.id}}">View</a>
      </td>
    </tr>
  </tbody>
</table>
